/*Global style*/

body {
	padding-top: 100px; /* высота шапки*/
}

img {
	max-width: 100%;
}

nav ul,
nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
}

input:focus,
input:active{
	outline: none;
}

a {	
	color: inherit;
	transition: 0.3s;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.clear:after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

.hidden {
	display: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

/*header style*/

.page__header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px; /* body padding-top */
}

.page__header.fixed {
	position: fixed;
	z-index: 2;
	display: none;
	box-shadow: 0 5px 15px #ccc;
}

.page__header .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-justify-content: space-between;
     	      -ms-flex-pack: justify;
            justify-content: space-between;
	-ms-align-items: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.page__header .logo img {
	max-height: 100px; /* высота шапки*/
}



/*block1 style*/



/*block--map*/

.block--map {
	position: relative;
	height: 450px;
}

.contacts {
	position: absolute;
	top: 10px;
	left: 25%;
	margin-left: -50%;
}


/*form pop style*/

.wrapper--form {
	min-height: 500px;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 10;
	background: rgba(255,255,255,0.8);
}

.wrapper--form form {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 15px;
	box-sizing: border-box;
	outline: 1px solid red;
}
